node_modules
node_modules/*
npm-debug.log
package-lock.json
yarn-error.log
yarn-debug.log
.DS_Store
.vscode
.idea
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.swm
batch-commit.sh
commit-all.sh
commit-plan.txt
generate-commit-plan.
.commit-last-date
target